// Red Hat Display for Headings
@font-face {
    font-family: 'RedHatDisplay_Bold';
    src: url('../fonts/RedHatDisplay_Bold.ttf') format('truetype');
}

// Roboto for Regular Body Text
@font-face {
    font-family: 'Roboto_Regular';
    src: url('../fonts/Roboto_Regular.ttf') format('truetype');
}