#header {
    height: 100vh;
    
    .navbar {
        .navbar-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .nav-items {
                display: flex;
                justify-content: center;
                align-items: center;
    
                .nav-item {
    
                    margin-right: 2rem;
    
                    &:not(:first-child):not(:last-child) {
                        .nav-link {
                            color: $secondary-color;
                        }
                    }
    
                    .active {
                        position: relative;
                        color: $primary-color;
    
                        &:after {
                            content: "";
                            position: absolute;
                            height: 0;
                            width: 0;
                            border: 4px solid $primary-color;
                            border-radius: 100%;
                            top: 100%;
                            right: 50%;
                            transform: translateX(50%);
                            margin-top: 0.4rem;
                        }
                    }
                }
            }
        }
    }

    #header-content {
        .content {
            padding: 5rem 0;
            width: 40%;
        }
    }
    .illustration {
        position: absolute;
        top: 15%;
        right: 0;
        width: 50%;
        z-index: -4;
        background: lighten($primary-color, 35%);
    }
}