#whatToDo {
    position: relative;
    
    .center {
        width: 55%;
        text-align: center;
        margin: 0 auto;
    }

    .steps-to-follow {
        margin-top: 3rem;
        .step {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .step-content {
                flex-basis: 50%;
                padding: 5rem;

                .step-number {
                    color: $primary-color;
                    background-color: lighten($primary-color, 30%);
                    padding: 0.3rem 0.7rem;
                    border-radius: 100%;
                    margin: 0 1rem 0 -4.8rem;
                }
            }

            .illustration {
                flex-basis: 40%;
            }

            &:nth-child(even) {
                .step-content {
                    order: 2;

                    .step-number {
                        margin: 0 1rem 0 -5rem;
                    }
                }

                .illustration {
                    order: 1;
                }
            }
        }
    }

    @include responsive_mobile {
        .center {
            width: 100%;
        }

        .steps-to-follow {
            .step {
                text-align: center;
                flex-direction: column;
                margin-bottom: 2rem;
                border-bottom: 1px solid lighten($primary-color, 30%);

                .step-content {
                    position: relative;
                    width: 100%;
                    padding: 2rem;

                    h2 {
                        padding-top: 2rem;
                    }

                    .step-number {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        margin: 0;
                    }

                }
                &:nth-child(even) {
                    position: relative;
                    width: 100%;
                    border-bottom: 1px solid lighten($primary-color, 30%);

    
                    h2 {
                        padding-top: 2rem;
                    }
    
                    .step-content {
                        order: 1;
                    }
    
                    .illustration {
                        order: 2;
                    }
    
                    .step-number {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        margin: 0 !important;
                    }
                }
            }
        }
    }
}