// Global Stylings

// CSS Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Global Element Stylings
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto_Regular';
    background: lighten($primary-color, 35%);
    line-height: 1.7;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'RedHatDisplay_Bold';
}

a {
    text-decoration: none;
    color: #000;
}

ul, li {
    list-style: none;
}

img {
    width: 100%;
}